.container {
  margin-inline: auto;
  max-width: 1200px;
  box-sizing: border-box;
}

.backButtonContainer {
  width: 100%;
  height: 44px;
  padding: 12px 100px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.backButton {
  background: none;
  border: none;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  line-height: 1;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

@media (max-width: 834px) {
  .container {
    max-width: 754px;
    margin-inline: 40px;
  }

  .backButtonContainer {
    display: none;
  }
}

@media (max-width: 480px) {
  .container {
    margin-inline: 16px;
  }

  .backButtonContainer {
    padding-inline: 16px;
    display: block;
  }
}
