.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
  gap: 1.5rem;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 3px solid var(--color-border);
  border-radius: 50%;
}

.emptyStateMessage {
  margin: 0;
  color: var(--color-text-secondary);
  font-family: Helvetica;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
}
