.searcherContainer {
  padding-bottom: var(--spacing-sm);
  position: relative;
  display: flex;
  align-items: center;
}

.searcherInput {
  width: 100%;
  font-weight: 300;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  padding: 0;
  padding-right: 32px;
  line-height: 1;
  height: 27px;
  border-bottom: 0.5px solid var(--color-primary);
  gap: var(--spacing-md);

  &::placeholder {
    color: var(--color-text-tertiary);
  }
}

.clearButton {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 19px;
}
