.container {
  margin-block: var(--spacing-3xl);
  width: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  height: 20px;
  text-transform: uppercase;
  letter-spacing: 0;
}

@media (max-width: 480px) {
  .title {
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.scrollContainer {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 38px;
  box-sizing: border-box;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 834px) {
  .scrollContainer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 480px) {
  .scrollContainer {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.scrollContainer::-webkit-scrollbar {
  height: 1px;
}

.scrollContainer::-webkit-scrollbar-track {
  background: #ccc;
  margin-left: 100px;
  margin-right: 100px;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background: #000;
}

.scrollContainer::-webkit-scrollbar-thumb:hover {
  background: #000;
}

@media (max-width: 834px) {
  .scrollContainer::-webkit-scrollbar-track {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 480px) {
  .scrollContainer::-webkit-scrollbar-track {
    margin-left: 16px;
    margin-right: 16px;
  }
}

.cardWrapper {
  flex: 0 0 auto;
  width: 344px;
  height: 344px;
}

.cardWrapper > div {
  width: 100%;
  height: 100%;
}

@media (max-width: 834px) {
  .cardWrapper {
    width: 344px;
    height: 344px;
  }
}

@media (max-width: 480px) {
  .cardWrapper {
    width: 344px;
    height: 344px;
  }

  .scrollContainer {
    gap: 16px;
  }
}
